<%- include('partials/header') -%>
<main class="container">
  <h1 class="text-danger darken mt-5">Flashcard Master</h1>
  <div class="row justify-content-around mt-5">
      <a href="/login" class="col-3 btn btn-primary"> Login</a>
      <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
  </div>
</main>
</html>