<%- include('partials/header') -%>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container-fluid">
      <h1 class="mx-auto">FlashCard Master</h1>
      <a class="navbar-brand" href="../logout">Logout<i class="fa-solid fa-power-off"></i></a>
    </div>
  </nav>
    <button class="open-button" onclick="openForm()">Add new</button>
    <button class="open-review" onclick="openReview()">Review</button>
    
    <% if (card.length >= 1) { %>
      <div class="box">
        <% for (let i = 0; i < card.length; i++) { %>
        
        <div class="card"  data-id="<%= card[i].id %>">
          <p class="card-text"><%= card[i].front %></p>
        </div>
        <% } %>
      </div>
    <% } else { %>
      <div class="msg">
        <h3>You don't have any card.</h3>
        <button class="btn btn-danger" onclick="openForm()">Add new</button>
      </div>
    <% } %>
<!-- The form -->
<div class="form-popup" id="myForm">
  <form action="../card/addCard" class="form-container" method="POST">
    <!-- <h1>Add new card</h1> -->

    <label for="front"><b>Front card</b></label><br>
    <textarea type="text" placeholder="Enter question" name="front" required></textarea><br>

    <label for="back"><b>Back card</b></label><br>
    <textarea type="text" placeholder="Enter Answer" name="back" required></textarea>

    <button type="submit" class="btn addOne">Add</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
  </form>
</div>

</body>
    <script src="/main.js"></script>
</html>